/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework/*
/storage/app/*
/storage/logs/*
/vendor
.env
.env.backup
/storage/*.key
/storage
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/css/app.css
public/js/formSubmissionHandler.js
/.idea
/.vscode
notes.md
.DS_Store
